[submodule "_vim/bundle/neobundle.vim"]
	path = _vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "_vimperator/vimppm"]
	path = _vimperator/vimppm
	url = https://github.com/konfoo/vimppm.git
    ignore = dirty
[submodule "_antigen"]
	path = _antigen
	url = git@github.com:zsh-users/antigen.git
